<script src="https://cdn.tailwindcss.com"></script>
<section class="w-screen h-screen grid place-items-center bg-gray-500">
    <div class="flex flex-col bg-white p-10 rounded-lg shadow-md">
        <a href="./login" class="bg-zinc-900 hover:bg-black transition my-2 px-10 py-3 text-white rounded-md">
            <button class="capitalize">login</button>
        </a>
        <a href="./signup" class="bg-zinc-900 hover:bg-black transition my-2 px-10 py-3 text-white rounded-md">
            <button class="capitalize">signup</button>
        </a>
    </div>
</section>